spring:
  application:
    name: COPOUN-SERVICE
  profiles:    active:    - prod
#  datasource:
#    url: jdbc:mysql://localhost:3306/mydb
#    username: root
#    password: root
#  jpa:
#   hibernate:
#    ddl-auto: update
  config:
    import:    -  optional:configserver:http://localhost:8888/
server:  port: 8081
  
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

springdoc:
  swagger-ui:
    path: /my-swagger-ui

  

    
 